* {
    padding: 5px;
    margin: 0;
}
body {
    padding: 20px;
    padding-bottom: 500px;
}
.search-box {
    background-color: aqua;
    right: 0;
    top: 0%;
    border-color: #476e8b;
    display: inline-flex;
    border-radius: 5px;
    width: 222px;
    height: 35px; 
 
}
.search-txt {
    border: none;
    border-radius: 10px;
    transition: .5s;
}
.search-txt:hover{
    background-color: rgb(163, 218, 218);
  }
.search-btn{
    background-color: aqua;
    cursor: pointer;
}
    